---
layout: default
tittle: Bugs
bugs:
  - name: Matty Bug
    pic_path: /uploads/matty-bug-2-dsc-0375.jpg
    stats:
      - lots of eyes
      - fluffy tail
      - hides in a cork tree
      - loves to drink wine
  - name: Tiana Bug
    pic_path: /uploads/tianabug.jpg
    stats:
      - Loves the Matty Bug
      - Preens her tail to attract a mate
      - Likes pretty ribbons
  - name: dave
    pic_path: 'https://picsum.photos/200/300/?random'
    stats:
      - thing
      - thing
      - thing
  - name: dave
    pic_path: 'https://picsum.photos/200/300/?random'
    stats:
      - thing
      - thing
      - thing
---

<section class="reverser">
  <h2>{{page.title}}</h2>
  {% for bug in page.bugs %}
  <div class="grid-middle spacer">
    <div class="col-12 bug-bg">
      <img src="{{bug.pic_path}}" alt="{{bug.title}}">
    </div>
    <div class="shifted">
      <h3>{{bug.name}}</h3>
      <ul>
      {% for stat in bug.stats %}
        <li>{{stat}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>
