---
layout: default
tittle: bugs
bugs:
  - name: Lady Beetle
    pic_path: /uploads/ladybugs-1593406-1280-1.jpg
    stats:
      - 'commonly yellow, orange, or red with small black spots'
      - six legs
      - 0.8 to 18 mm
      - eats leaves
  - name: Dung Beetle
    pic_path: /uploads/dung-beetle.jpg
    stats:
      - >-
        Some dung beetles ride on the animals, whose feces they like to eat,
        until they are ready to poop.
      - There are 7000 types of dung beetles
      - >-
        All dung beetles can be divided in three large categories: rollers,
        tunnellers and dwellers
      - >-
        Dung beetles are very strong animals. They can carry the weight which is
        50 times heavier than their body weight
  - name: Blow Fly
    pic_path: /uploads/blowfly-2151453-1280-2.jpg
    stats:
      - >-
        Blow flies are often shiny with metallic-like blue, green or black
        bodies and are slightly larger than a housefly
      - Adult blow flies have sponge-like mouth parts
      - Blow fly larvae are also known as maggots
---

<section class="reverser">
  <h2>{{page.title}}</h2>
  {% for bug in page.bugs %}
  <div class="grid-middle spacer">
    <div class="col-12 bug-bg">
      <img src="{{bug.pic_path}}" alt="{{bug.title}}">
    </div>
    <div class="shifted">
      <h3>{{bug.name}}</h3>
      <ul>
      {% for stat in bug.stats %}
        <li>{{stat}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>
