---
layout: default
tittle: bugs
bugs:
  - name: Lady Beetle
    pic_path:
    stats:
      - 'commonly yellow, orange, or red with small black spots'
      - six legs
      - 0.8 to 18 mm
      - eats leaves
---

<section class="reverser">
  <h2>{{page.title}}</h2>
  {% for bug in page.bugs %}
  <div class="grid-middle spacer">
    <div class="col-12 bug-bg" style="background-image:url('{{bug.pic_path}}')">

    </div>
    <div class="shifted">
      <h3>{{bug.name}}</h3>
      <ul>
      {% for stat in bug.stats %}
        <li>{{stat}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>
